# 端口
server:
  port: 8080

# 应用名称
spring:
  application:
    name: feign

eureka:
  server:
    # 注册中心地址
    host: 127.0.0.1
  instance:
    # 使用 ip 代替实例名
    prefer-ip-address: true
    # 实例的主机名
    hostname: ${spring.cloud.client.ip-address}
    # 实例的 ID 规则
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
  client:
    serviceUrl:
      # 注册中心地址
      defaultZone: http://${eureka.server.host}:8761/eureka/

SayHelloWorld:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule # 随机策略

#修改调用超时时间2s
feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 2000